<h1 style="color:#999"><%= "This is the <span style='color:#000'>#{@item.name.titlecase}</span>, which is currently in #{@item.user.first_name.titlecase}'s <a href='/rooms/#{@item.room_id}' style='color:#999'>#{@item.room.name.titlecase}</a>" %></h1>


<% @item.attributes.each do | attr_name, attr_value | %>
	<% if attr_name != "name" && attr_name != "id" && attr_name != "room_id" && attr_name != "date_purchased" && attr_name != "cost" %>
		<p><strong><%= attr_value %></strong><br><span style="color:#999"><%= attr_name.gsub(/_/, " ").titlecase %></span></p>
	<% elsif attr_name == "date_purchased" %>
		<p><strong><%= attr_value.strftime("%B %d, %Y") %></strong><br><span style="color:#999"><%= attr_name.gsub(/_/, " ").titlecase %></span></p>
	<% elsif attr_name == "cost" %>
		<p><strong><%= "$#{attr_value}" %></strong><br><span style="color:#999"><%= attr_name.gsub(/_/, " ").titlecase %></span></p>
	<% end %>
<% end %>
<br>
<p><a href="/items/<%= @item.id %>/edit">Edit item</a>